@import 'mixins';
@import 'vars';

.page404 {
    background-image: url(../images/fon.jpg);
    filter: saturate(60%);
    padding: 20px;
    margin-bottom: -10px;
    &__title {
        @include fontHeader(#f34a07, 400, 250px);
        text-align: left;
    }
    &__text {
        @include fontHeader(#292F36, 400, 3rem);
        font-size: clamp(2rem, 5vw, 3rem);
        line-height: 150%;
        letter-spacing: 0.35px;
        text-align: left;
    }
    &__btn {
        @include fontText(#4d5053, 400, 22px);
        display: flex;
        justify-content: center;
        align-items: center;
        
        padding: 20px 40px;
        background-color: #fd9a05;
        border: 1px solid #4d5053;
        max-width: 253px;
        margin-top: 21px;
        margin-bottom: 100px;
    transition: background-color 0.3s linear;

        &:hover {
            background-color: #f34a07;
          }
    }
}
@media (max-width: 440px) {
    .page404 {
        &__title {
            font-size: clamp(10rem, 5vw, 30rem);;
        }
        &__btn {
            padding: 10px 20px;
        }
    }
}