@import "mixins";
@import "vars";

.contact-info {
  display: flex;
  flex-wrap: wrap;
  box-shadow: 8px 4px 20px #defc5a;
  margin-bottom: 30px;

  &__left {
    @include flex-column-left();
    align-items: flex-start;
    padding: 15px;
  }
}
.slogan__heading {
  max-width: 600px;
  font-size: clamp(28px, 5vw, 45px);
    text-align: left;   
    line-height: 1.5;
    letter-spacing: 0.8px;
    text-shadow: 8px 4px 5px #defc5a;
    padding: 0 5px 0 15px;

}
.form {  
  @include flex-column-left();
  gap: 10px;
  margin: 0 auto;
  margin-bottom: 40px;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0) 0.01%,
    #faba3e 62.36%
  );
  border: 1px solid #4d5053;
  max-width: 600px;
  padding: 30px;
  & input {
    padding: 5px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #4d5053;
    border-right: 1px solid #4d5053;
  }
  &__textarea {
    padding: 5px;
    width: 290px;
  }
  &__title {
    font-size: clamp(20px, 5vw, 24px);
    color: black;
    margin-bottom: 20px;
  }
  &__lable {
    font-size: clamp(16px, 5vw, 18px);
    color: #4d5053;
  }
  &__btn {
    padding: 5px 10px;
    background-color: #fd9a05;
    border: 1px solid #4d5053;
    transition: background-color 0.3s linear;
    &:hover {
      background-color: #f34a07;
    }
    &:disabled {
      background-color: #fd9a05;
    }
  }
}
.invalid {
  color: #f30707;
  font-size: clamp(12px, 3vw, 16px);
  margin-bottom: 10px;
}
.agreement {
  max-width: 500px;
  padding: 0 10px;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}
@media (min-width: 320px) and (max-width: 615px) {
  .form {
    margin-left: 10px;
    margin-right: 10px;
  }
}
